body {
    font-family: Arial, sans-serif;
    background: linear-gradient(125deg, #074134, #389170, #5fdbbe);
    height: 100vh;
}
.forget-card { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #52bdab;
    margin: 150px auto;
    height: 300px;
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 20%;
    font-size: 36px;
    margin-bottom: 20px;
}
input[type="email"] {
    width: 80%;
    height: 50px;
    padding: 12px;
    position: relative;
    bottom: 10%;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: 18px;
}
button {
    background: linear-gradient(125deg, #074134, #389170, #5fdbbe);
    color: white;
    position: relative;
    top: 10%;
    padding: 14px 20px;
    font-size: 18px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    width: 50%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}