body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #260e46;
    height: 100vh;
    width: 100%;
    margin: 0;
}
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-size: 18px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #211e1e;
    border-radius: 6px;
    box-sizing: border-box;
}
button {
    background-color: #260e46;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
