body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(125deg, #2b0b55, #246797, #359aac);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 50px 0;
}
h1 {
  color: #0d414a;
  font-size: 40px;
  margin-bottom: 20px;
}
.signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 25%;
    width: 700px;
    height: 800px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
    font-size: 22px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 60%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #211e1e;
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}
input[type="number"] {
    width: 30%;
    text-align: center;
}
.female-label, .male-label {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
#signup-Btn {
    background-color: #0d414a;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    width: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
